.idea
.directory
bin
__pycache__/
*.py[cod]
venv
node_modules
frontend/node_modules
cache/
media/
db.sqlite3
hamzars-cloudsql-credentials.json
hamzar-certificate.yaml
hamzar-https.yaml
hamzars-credentials-storage.json
ingress.yaml
service.yaml
